API_URL=http://localhost:8080/
REDIS_CONN=localhost:6379,abortConnect=false

MSSQL_DB_NAME=ChatShaker
MSSQL_USER=sa
MSSQL_PASSWORD=YourStrongPassword123!
SQL_CONN=Server=localhost,1433;Database=${MSSQL_DB_NAME};User Id=${MSSQL_USER};Password=${MSSQL_PASSWORD};TrustServerCertificate=True

JWT_KEY=ReplaceWithA32CharacterLongSecretKey123
JWT_TIME_EXPIRE_MINUTES=15
JWT_ISSUER=https://www.chat-shaker.com

FILES_STORAGE=Storage/Files

EMAIL_HOST=smtp.ethereal.email
EMAIL=your-email@ethereal.email
EMAIL_FROMNAME=ChatShaker
EMAIL_USERNAME=your-username
EMAIL_PASSWORD=your-password
EMAIL_PORT=587

HANGFIRE_USERNAME=Admin
HANGFIRE_PASSWORD=AdminPassword123!
